body {
    font-family: 'Heebo', sans-serif;
    background: rgb(177,177,255);
    background: radial-gradient(48.07% 185.97% at 90.31% 11.81%, rgba(189, 48, 255, 0.4) 0%, rgba(0, 255, 240, 0) 100%), radial-gradient(20.27% 49.52% at 23.28% 72.43%, rgba(48, 131, 255, 0.2) 0%, rgba(255, 48, 197, 0) 100%), linear-gradient(107.56deg, #B377FF 0%, #4378FF 55.73%, #00A3FF 100%);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    line-height: 125%;
    padding:6.5rem;

}

.wrapper {
    grid-template-columns: auto auto;
    display: inline-grid;
    grid-gap: 3rem;
    width: 87vw;
}

a {
    color: black;
}

.aboutmeholder a {
    color: white;
}

.linksholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: #3f3f3f;
    color:white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.white-button {
    background: #ffffff;
    color:rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
    text-align: center;
}


.project {
    color:black;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 10px;
}

.projects-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin: 1rem;
    width: 50vw;
}

.other-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: white
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 0.8em;
        padding: 1rem;
    }

    .white-button {
        width: 50%;
    }
    .wrapper {
        grid-gap: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 0.8em;
        padding: 1rem;
    }

    .white-button {
        width: 50%;
    }
    .wrapper {
        grid-gap: 0.5rem;
    }
}