.header {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}
.subheader {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;

}

.spacer {
    height: 20px;
}

.project {
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(37,0,20,1) 71%, rgba(255,0,138,1) 100%); 
    padding: 1rem;
    border-radius: 1rem;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(350deg, rgba(0,0,0,1) 0%, rgba(23,0,13,1) 90%, rgba(255,0,138,1) 100%); 
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1080px;
    overscroll-behavior: none;
}

/* Default styles for larger screens */
.button {
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(37,0,20,1) 71%, rgba(255,0,138,1) 100%);
    padding: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;  /* Remove text decoration here */
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    font-size: medium;
    font-weight: 700;
    display: inline-block;
    margin: 0.5rem; /* Space between buttons */
    width: auto; /* Ensures buttons don't stretch unnecessarily */
}

/* Remove text-decoration from anchor tags inside .button */
.button a {
    text-decoration: none;  /* Ensure links inside buttons have no text decoration */
    color: #ffffff;  /* Make sure the text color is white */
}

/* Use Flexbox for the buttons container */
.buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    gap: 1rem; /* Space between buttons */
    justify-content: center; /* Center buttons */
    align-items: center; /* Align items vertically in the middle */
    min-height: 100px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .button {
        width: 100%; /* Make buttons take full width on small screens */
        box-sizing: border-box; /* Ensure padding is inside the width */
        font-size: 1rem; /* Slightly smaller font size */
        padding: 0.8rem; /* Increase padding for better touch support */
    
    }
}

.bold {
    font-weight: 700;
}

.xbold {
    font-weight: 900;
}

a {
    color: #ffffff;
}

h2 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

footer {
    text-align: center;
}
